<footer class="footer">

	<div class="container">

		<h3>Mariana Miguel Ⓒ 2022</h3>

		<section class="follow">
			<ul>
				<li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
				<li><a title="Behance" href="{{ site.Behance }}" target="_blank">Behance</a></li>
				<li><a title="Instagram" href="{{ site.instagram }}" target="_blank">instagram</a></li>
			</ul>
		</section>

	</div>

</footer>