
  /* Degular Font*/
  @font-face {
    font-family: Degular;
    src: url("../assets/fonts/Degular/Degular Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Degular;
    src: url("../assets/fonts/Degular/Degular Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Degular;
    src: url("../assets/fonts/Degular/Degular Text Italic.otf");
    font-weight: normal;
    font-style: italic;
}