.container {
	margin: 0 auto;
	max-width: 70em;
	padding: 0 3rem;

	h2 {
		margin-left: 1rem;
		margin-bottom: 3rem;
	}
}

.header {
	display: flex;
	justify-content: right;
	background: $color-light;

	li {
		padding: 1.5rem;
	}

	a {
		padding: 1,5rem;
		transition: all .3s ease-in-out;
	}

	a:hover {
		color: $color-pink;
		padding: 2rem;
		transition: all .3s ease-in-out;
	}

    ul {
		font-size: calc(1rem + 5vw);
	}
}
 

#heart {
	position: fixed;
    width: 4.5rem;
    margin: 5.5rem;
    z-index: 2;
    opacity: 1;
}

#heart:hover {
	animation: beat .35s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.3); }
}
 

#star {
	position: absolute;
	width: 7rem;
	right: 9%;
	top: 17%;
}

#tagline {
	margin-left: 4rem;
	margin-bottom: 10rem;
}


.content {
	background: $color-light;
	padding: 7rem 0 0;
	margin-bottom: 31.24rem;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;

	@media (min-width: $breakpoint-medium) {
		padding: 21rem 0 0;
		margin-bottom: 23.42rem;
	}
}

.intro {
	@media (min-width: $breakpoint-medium) {
		p {
			font-size: 4rem;
		}
	}

	h1 {
		margin-left: 4rem;
		margin-bottom: 5rem;
	}
	
	p {
		font-size: 6rem;
	}

	.name {
		font-size: calc(2rem + 11vw);
		margin-bottom: 0;
	}

	.illustrator {
		font-style: italic; 
	}

	.illustrator:hover {
		text-shadow: 0px 0px 20px #fff;
		transition: all .5s ease-in-out;
	}
	
}

.projects-list {

	@media (min-width: $breakpoint-small) {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		@include clearfix;

		li {
			float: left;
			width: 50%;
		}

		a {
			padding: 0 1.5rem;
		}
	}

	@media (min-width: $breakpoint-medium) {
		li {
			width: 33%;
		}
	}

	li {
		margin-bottom: 3rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		display: block;
		
		&:hover {
			.img-wrapper {
				&:before {
					opacity: 1;
					
				}
				&:after {
					opacity: .45;
				}
			}
		}
	}

	.img-wrapper {
		position: relative;
		
		&:before {
			content: "see everything";
			color: $color-dark;
			@extend .h2;
			font-weight: 800;
			position: absolute;
			top: 50%;
			left: 35%;
			opacity: 0;
			-webkit-transition: all .5s ease-in-out;
    		transition: all .5s ease-in-out;
    		-webkit-transition-delay: .25s;
    		transition-delay: .25s;
    		z-index: 2;
		}

		&:after {
			background: $color-pink;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			-webkit-transition: all .5s ease-in-out;
    		transition: all .5s ease-in-out;
    		z-index: 1;
		}

	}

	img {
		width: 100%;
	}

	span {
		margin: 1rem 0 .5rem;
	}
}

.project {
	left: 0;
	position: relative;
	top: 0;

	@media (min-width: $breakpoint-medium) {
		margin-top: -21rem;

		.article-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.container {
		max-width: 100%;
	}

	article {
		margin-bottom: 3rem;

		@media (min-width: $breakpoint-medium) {
			float: right;
			right: 0;
			width: 40%;
			position: absolute;
			right: 5%;
		}
	}

	aside {
		margin-left: -3rem;
		margin-right: -3rem;

		@media (min-width: $breakpoint-small) {
			@include clearfix;
		}

		@media (min-width: $breakpoint-medium) {
			float: left;
			width: 55%;
		}
	}

	.project-meta {
		margin: 3rem 0 0;

		@media (min-width: $breakpoint-medium) {
			margin: 5rem 0 0;
			max-width: 70%;
		}
	}

	.h2 {
		margin: 3rem 0 .5rem;

		&:first-of-type {
			margin-top: 0;
		}
	}

	h1 {
		a {
			text-decoration: underline;
		}
	}

	li {
		margin-bottom: 0rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		width: 100%;
	}
}

.project-navigation {
	background: $color-dark;
	padding: 5rem 0;

	a {
		color: $color-light;
		display: inline-block;

		&:hover {
			h2:after {
				visibility: visible;
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}

			&.prev {
				span {
					left: 7px;
				}
			}

			span {
				&:after {
					left: 7px;
				}

				&:before {
					left: -7px;
				}
			}
		}

		&:nth-of-type(1),
		&:nth-of-type(2) {
			display: table;
			margin: 0 auto;
			text-align: center;

			@media (min-width: $breakpoint-xsmall) {
				display: inline-block;
				margin: 0;
				text-align: left;
			}
		}

		&:nth-of-type(1) {
			@media (min-width: $breakpoint-xsmall) {
				float: left;
			}
		}

		&:nth-of-type(2) {
			margin-top: 3rem;

			@media (min-width: $breakpoint-xsmall) {
				float: right;
				margin-top: 0;
			}
		}

		&.next {
			span {
				&:after {
					content: "\02192";
				}
			}
		}

		&.prev {
			span {
				position: relative;
				left: 0;
				-webkit-transition: all .3s ease-in-out 0s;
				transition: all .3s ease-in-out 0s;

				&:before {
					content: "\02190";
				}
			}
		}
	}

	span {
		&:after,
		&:before {
			position: relative;
			left: 0;
			-webkit-transition: all .3s ease-in-out 0s;
			transition: all .3s ease-in-out 0s;
		}
	}

	h2 {
		display: inline-block;
		font-size: 1.8rem;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -4px;
			left: 0;
			background-color: $color-light;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all .3s ease-in-out 0s;
			transition: all .3s ease-in-out 0s;
		}
	}
}

.footer {
	background: $color-light;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	position: fixed;

	li {
		display: flex;
		float: left;
	}

	h3 {
		font-size: 1.5rem;
	}
}

.pagecontent {
	background: $color-light;
	position: relative;
	display: flex;
	justify-content: space-around;
	z-index: 1;

	@media (min-width: $breakpoint-medium) {
		margin-bottom: 23.42rem;
	}
	

	h1 {
		font-size: 5rem;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='pink' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
   	    background-position: 0 100%;
    	background-size: auto 1rem;
		width: 30rem;
    	background-repeat: repeat-x;
    	text-decoration: none;
	}

	p {
		margin-top: 3rem;
		font-size: 2.5rem;
	}

    .aboutme {
		padding-left: 7rem;
		padding-top: 18rem;
		margin-bottom: 10rem;
	}

	.profile {
		width: 40vw;
		margin-right: 7rem;
	}
}

.contact,
.follow {
	@media (min-width: $breakpoint-medium) {
		float: left;
		margin-bottom: 0;
		width: 33%;
	}
}

.contact,
.follow {
	margin-bottom: 2rem;
	float: left;
}
