/* Fonts
 ****************************************************************/

$font-default: Helvetica, Arial, sans-serif;
$font-poppins: 'Poppins', $font-default;
$font-lekton: 'Lekton', $font-default;

/* Colors
 ****************************************************************/

$color-light: #F8F3F0;
$color-dark: #b23131;
$color-silver-chalice: #f10000;
$color-white: #fff;
$color-black: rgb(123, 19, 19);

/* Breakpoint
 ****************************************************************/

$breakpoint-xsmall: 400px;
$breakpoint-small: 550px;
$breakpoint-medium: 750px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1200px;