/* Fonts
 ****************************************************************/

$font-default: Helvetica, Arial, sans-serif;
$font-degular: 'Degular', $font-default;

/* Colors
 ****************************************************************/

$color-green: #0c6337;
$color-white: #f8e4e4;
$color-pink: #e575a0;

/* Breakpoint
 ****************************************************************/

$breakpoint-xsmall: 400px;
$breakpoint-small: 550px;
$breakpoint-medium: 750px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1200px;