<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>

<body>
    
	{% include header.html %}
	<main class="pagecontentcontact">
		<h1 class="contacttitle">Let's talk! Email me, text me or just send a pigeon letter 🤭</h1>
		<hr>
        <h1>marmiguelcs99@gmail.com</h1>
        <h1>+351 93 465 377 6</h1>

	</main>
	
	{% include footer.html %}
    
</body>