<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>

<body>
    
	{% include header.html %}
	<main class="pagecontent">
		
			<div class="aboutme">
			  <h1>Hello there!!</h1>
			  <p>I’m Mariana, a Junior Product Designer based in Lisbon, Portugal, currently studying Digital Experience Design @ FBAUL 🙂 </p>
				<hr>
				<p>I’m a creative problem solver and a curious world explorer, learning and growing everyday. Interested in every facet of experience creation, fascinated by people and psychology. I enjoy developing end-to-end projects, always focused on human-centered design.</p>
				<hr>
				<p>I'm also an illustrator and a pianist because I can't keep my hands still! 🖌️🎹💖</p>
			</div>

			<img src="./assets/images/profile.png" alt="profile picture stylized like paper shreds" class="profile">
	
			
	</main>
	
	{% include footer.html %}
    
</body>